.t {
    background: rgba(66, 65, 65, 0.3);
     padding: 0 8vw;
}

.footer {
   position: relative;
   width: 100%;
  
   padding-top: 1vw;
   height: auto;
   
   display: flex;
   align-items: start;
   
   .menu-links , .menu-links2{
       margin-left: 2vw !important;
       height: 7vw;
       align-items: center;
       .link {
           font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.1vw !important;
           margin: 0 .5vw !important;
         
       }
   }
   img {
       width: 8vw;
   }
}
.footer-input {
   max-width: 33vw;
   margin-left: auto;
   position: relative;
   
   p {
       font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 1.1vw;

/* identical to box height */


color: #BCBCBC;
   }
   
   input {
     
       padding: 0;
       padding-left: 1vw;
       width: 100%;
       height: 3vw;
       display: flex;
flex-direction: row;
align-items: center !important;
border: 0;
font-size: 1.3vw;





background: #FFFFFF;
border-radius:  15px 0px 0px 15px ;
       
   }
   label {
       width: 2vw;
       overflow: inherit;
       height: 1vw;
       margin-bottom: 0 !important;
       line-height: 0 !important;
       color: black !important;
       font-size: 1.3vw;
       top: -50%;
       bottom: -50%;
       left: 1vw;
       z-index: 3;
   }
   input:active {
       border: none !important;
   }
 input , button {
       margin-top: 1vw !important;
   }
  
   button {
       display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

border: 0;
padding: 0 3vw !important;
width: 15vw;
height: 3vw;


background: #85241F;
border-radius: 0px 15px 15px 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.1vw;

text-align: center;

color: #FFFFFF;
   }
   .input {
       display: flex;

   }
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
   display: flex !important;
   align-items: center;
}
.menu-links2 {
   display: none;
}
@media (max-width: 480px) {
   .css-68himn-MuiTypography-root {
       margin-top: 3vw !important;
       width: auto !important;
   }
   .footer {
       justify-content: space-around;
   }
   .footer img {
       width: 12vw;
   }
   .footer-input p {
       font-family: "Montserrat";
       font-style: normal;
       font-weight: 500;
       font-size: 2.1vw;
       color: #BCBCBC;
   }
   .css-ahj2mt-MuiTypography-root {
       font-family: "Montserrat";
       font-style: normal;
       font-weight: 500;
       font-size: 2.1vw !important;
       color: #BCBCBC;
   }
   .footer-input {
       max-width: 60vw;
       margin: 0;
       button {
           width: 65vw;
           height: 5vw;
           background: #85241F;
           border-radius: 0px 15px 15px 0px;
           font-family: "Montserrat";
           font-style: normal;
           font-weight: 600;
           font-size: 2vw;
       }
       input {
       padding: 0;
       padding-left: 2vw;
       width: 100vw !important;
       height: 5vw;
       display: flex;
       flex-direction: row;
       align-items: center !important;
       border: 0;
       font-size: 2.3vw;
       background: #FFFFFF;
       border-radius: 15px 0px 0px 15px;
   }
   }
   
   .menu-links {
       display: none !important;
   }
   .menu-links2{
       display: flex;
      
       margin: 0 auto;
       justify-content: center;
       height: 7vw;
       align-items: center;
       
       .link {
            text-decoration: none;
     
           font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 2.5vw !important;
           margin: 0 .5vw !important;
           color: white;
       }
   }
   
}
